<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Image Handler</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let photo of photoService.photos">
          <div #refDivEl class="scaled" [@selectItem]="getSelected(photo) ? 'selected' : 'notSelected'">
            <ion-img *ngIf="photo.webviewPath" [src]="photo.webviewPath" (click)="selectImage(photo)"
              [ngStyle]="{'opacity': getSelected(photo)? '0.4': '1'}"></ion-img>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button (click)="openLeaderboard()">
        <ion-icon name="desktop-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="addPhotoToGallery()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="uploadImages()">
        <ion-icon name="cloud-upload"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</ion-content>